html, body { 
  height: 100%; 
}

body {
  margin: 0;
  min-height: 100dvh;      /* täcker hela höjden, även på mobiler */
  display: flex;
  flex-direction: column;  /* gör att footern hamnar längst ner */
}

main {
  flex: 1;                 /* tar all plats mellan header och footer */
  display: grid;
  place-items: center;     /* centrerar kortet i mitten */
  padding: 1rem;           /* lite luft runt kanterna */
}

footer {
  margin-top: auto;        /* trycker ner footern */
  text-align: center;
  padding: 1rem 0;
  font-size: .875rem;      /* ca 14px */
  opacity: .85;
}


html {
  font-size: 16px; 
}


body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;

  background-color: hsl(185, 75%, 39%);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;

  background-size: 40rem 40rem, 40rem 40rem;
  background-position: -440px -300px, calc(100% + 420px) calc(100% + 280px);
}

.card {
  background-color: white;
  border-radius: 15px;
  width: 350px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-image: url(images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 140px;
}

.profile-img {
  margin-top: -50px;
}

.profile-img img {
  border-radius: 50%;
  border: 5px solid white;
}

.card-info h2 {
  margin-top: 10px;
  font-size: 18px;
}

.card-info {
  padding: 10px 10px;
}

h1 {
  font-size: 1.5rem;
}

.card-info span {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
  margin-left: 5px;
}

.card-info p {
  color: hsl(227, 10%, 46%);
  margin-top: 4px;
}

.card-status {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid hsl(0, 0%, 90%);
  align-items: center;
  padding: 25px;
}

.card-status h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1px;
}

.card-status p {
  color: hsl(0, 0%, 59%);
  font-size: 12px;
  margin-top: 3px;
}

@media (min-width: 75rem) {
  body {
    background-size: 55rem 55rem, 55rem 55rem;
    background-position: -200px -120px, calc(100% + 160px) calc(100% + 220px);
  }
}
